.page {
    padding: 50px;
    margin-left: 225px;
    margin-right: 225px;
    /* font-family: georgia, "times new roman", times, serif; */
}

.stats-text {
    font-size: 14px;
    white-space: pre-wrap;
}

.paragraph {
    margin-bottom: 22px;
}

.p-content {
    font-size: 16px;
    color: black;
    display: inline;
}

.p-rank {
    font-size: 12px;
    /* font-family: "Inconsolata", "Adobe Blank"; */
    color: darkgray;
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}

.loading-p {
    text-align: center;
    font-size: 16px;
}

/* Loading Clock modeled off https://codepen.io/GusRuss89/pen/jzbKf */
.loading-clock {
    margin: 50px auto;
    width: 40px;
    height: 40px;
    border: 3px solid black;
    border-radius: 100%;
    position: relative;
  }
  .loading-clock:before,
  .loading-clock:after {
    position: absolute;
    display: block;
    content: "";
    width: 2px;
    left: 19px; /* half width of clock - half width of hand */
    background: black;
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
  }
  /* Animations */
  @keyframes rotate {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  /* Big hand */
  .loading-clock:before {
    top: 5px;
    height: 20px; /* half the width/height of the clock */
    transform-origin: 1px 15px;
    animation: rotate 1s infinite linear;
  }
  /* Little hand */
  .loading-clock:after {
    top: 11px;
    height: 14px; /* top + height for little hand must = top + height for big hand */
    transform-origin: 1px 9px;
    animation: rotate 12s infinite linear; /* time should be big-hand time * 12 */
  }