.page {
    padding: 50px;
    margin-left: 225px;
    margin-right: 225px;
    /* font-family: georgia, "times new roman", times, serif; */
}

.stats-text {
    font-size: 14px;
}

.paragraph {
    margin-bottom: 22px;
}

.p-content {
    font-size: 16px;
    color: black;
    display: inline;
}

.p-rank {
    font-size: 12px;
    /* font-family: "Inconsolata", "Adobe Blank"; */
    color: darkgray;
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}